@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  /*margin-top: 60px;  Compensando a altura do Navbar fixo */
}

main { 
  max-width: 1050px; /* Adicionando largura máxima */ 
  margin: 0 auto; /* Centralizando o conteúdo */
  flex: 1 0 auto; /* Permite que o main ocupe o espaço disponível */
}

.navbar {
  background-color: #ffffff;
}

.navbarContainer {
  max-width: 1100px; /* Adicionando largura máxima para o Navbar */ 
  margin: 0 auto; /* Centralizando o conteúdo */ 
  padding: 0 1rem; /* Adicionando padding para evitar que o conteúdo grude nas bordas */
}

.footer { 
  flex-shrink: 0; /* Garante que o footer não diminua */ 
}

.input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px; /* Reduzido para um look mais elegante */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 0.875rem; /* Tipografia mais sutil */
}

.button.bg-blue-600 {
  background-color: #0a5694;
}

.button.bg-gray-600 {
  background-color: #6c757d;
}

.button.bg-green-600 {
  background-color: #28a745;
}

.button.bg-blue-600:hover {
  background-color: #067bf0;
}

.button.bg-gray-600:hover {
  background-color: #555555;
}

.button.bg-green-600:hover {
  background-color: #006400;
}

.container {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-leftColumn {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-rightColumn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2f2f2; */
}

.sidebar {
  background-color: #0a5694;
}

.quadroAniversario {
  height: 150px;
}